/*
 *  Styling for the X-Files Trivia Game
 */

@font-face {
    font-family: xFiles;
    src: url(fonts/x-files.ttf);
}

*{
    font-family: xFiles;
}

body{
    background-color: black;
    background:url(../images/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid{
    background-color: black !important;
    background:url(../images/game-background.jpg);
}
.display-2, #questions, #score{
    color: aliceblue !important;
    
}
#questions{
    margin-top: 5%;
    box-shadow: 2px 2px 5px aliceblue;
}
